@model DogGo.Models.viewModels.ProfileViewModel

@{ ViewData["Title"] = "Profile"; }
<>
    <h1 class="mb-4">@Model.Owner.Name</h1>

    <section class="container">
        <img style="width:100px;float:left;margin-right:20px"
             src="https://upload.wikimedia.org/wikipedia/commons/a/a0/Font_Awesome_5_regular_user-circle.svg" />
        <div>
            <label class="font-weight-bold">Address:</label>
            <span>@Model.Owner.Address</span>
        </div>
        <div>
            <label class="font-weight-bold">Phone:</label>
            <span>@Model.Owner.Phone</span>
        </div>
        <div>
            <label class="font-weight-bold">Email:</label>
            <span>@Model.Owner.Email</span>
        </div>
    </section>

    <hr class="mt-5" />
    <div class="clearfix"></div>

    <div class="row">
        <section class="col-8 container mt-5">
            <h1 class="text-left">Dogs</h1>

            <div class="row">
                @foreach (Dog dog in Model.Dogs)
                {
                    <div class="card m-4" style="width: 18rem;">
                        @if (String.IsNullOrEmpty(dog.ImageUrl))
                        {
                            <img src="https://cdn.pixabay.com/photo/2018/08/15/13/12/dog-3608037_960_720.jpg"
                                 class="card-img-top"
                                 alt="Doggo" />
                        }
                        else
                        {
                            <img src="@dog.ImageUrl" class="card-img-top" alt="Doggo" />
                        }
                        <div class="card-body">
                            <div>
                                <label class="font-weight-bold">Name:</label>
                                <span>@dog.Name</span>
                            </div>
                            <div>
                                <label class="font-weight-bold">Breed:</label>
                                <span>@dog.Breed</span>
                            </div>
                            <div>
                                <label class="font-weight-bold">Notes:</label>
                                <p>@dog.Notes</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>

        <section class="col-lg-4 col-md-8 container mt-5">
            <h1>Walkers Near Me</h1>

            <ul class="list-group mt-4">
                @foreach (Walker walker in Model.Walkers)
                {
                    <li class="list-group-item disabled" aria-disabled="true">

                        <img src="@walker.ImageUrl" style="width:50px" />
                        <a class="font-weight-bold ml-4" asp-area="" asp-controller="Walkers" asp-action="Index">
                            @walker.Name
                        </a>
                    </li>
                }
            </ul>
        </section>
            <div class="col-md-4">
                <form asp-action="WalkRequest">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="WalkRequest.Message" class="control-label"></label>
                        <input asp-for="WalkRequest.Message" class="form-control" />
                        <span asp-validation-for="WalkRequest.Message" class="text-danger"></span>
                    </div>
                    <div class="form-group">

                        <label asp-for="WalkRequest.RequestDateTime" class="control-label"></label>
                        <input class="form-control" asp-for="WalkRequest.RequestDateTime" asp-format="{0:yyyy-MM-ddTHH:mm}" />
                        <span asp-validation-for="WalkRequest.RequestDateTime" class="text-danger"></span>
                    </div>
                    
                        <label asp-for="WalkRequest.WalkerId" class="control-label"></label>
                        <select asp-for="WalkRequest.WalkerId" class="form-control">
                            <option value="">Select Walker</option>
                            @foreach (Walker walker in Model.Walkers)
                            {
                                <option value="@walker.Id">@walker.Name</option>
                            }
                        </select>
                        <span asp-validation-for="WalkRequest.Walker" class="text-danger"></span>
                    </form>
                    </div>
                   
               <form>
                    <div class="form-group">
                        <label asp-for="WalkRequest.DogId" class="control-label"></label>
                        <select asp-for="WalkRequest.DogId" class="form-control">
                            <option value="">Select Dog</option>
                            @foreach (Dog Dogs in Model.Dogs)
                            {
                                <option value="@Dogs.Id">@Dogs.Name</option>
                            }
                        </select>
                        <span asp-validation-for="WalkRequest.DogId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Walk Request" class="btn btn-primary" />

                    </div>
                    </form>
            </div>
